.show-more-button {
  position: relative;
  height: 64px;
  width: 288px;
  border-radius: 80px;
  border: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  background-color: #FFF;

  cursor: url(../../images/pointer.svg), auto;
}


.show-more-button:hover {
  opacity: 0.9;
}
