.about {
  display: flex;
  justify-content: start;
  margin: 80px 104px;
}

.about__avatar {
  width: 464px;
  height: 464px;
}

.about__description {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  margin: 51px 0 0 56px;
}

.about__description-title {
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  margin: 0 0 24px;
}

.about__description-text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0 0 32px;
}

@media screen and (max-width: 1150px) {
  .about {
    margin: 60px;
  }
  .about__avatar {
    width: 300px;
    height: 300px;
    margin-top: 21px;
  }
  .about__description {
    margin: 0 0 0 56px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 40px;
  }
  .about__avatar {
    width: 232px;
    height: 232px;
  }
  .about__description {
    margin: 0 0 0 32px;
    max-width: 424px;
  }
  .about__description-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px;
  }

}
