.about {
  display: flex;
  justify-content: space-between;
  margin: 80px 104px 80px;
}

.about__avatar {
  width: 464px;
  height: 464px;
}

.about__description {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 51px 0 0 56px;
}

.about__description-title {
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  margin: 0 0 24px;
}

.about__description-text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0 0 32px;
}
